
/*base */
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", "Open sans", "sans-serif";
  color: #5a5a5a;
  font-size: 1.6rem;
}
section, footer {
  text-align: center;
  padding: 5rem 1.5rem;
}

h1 {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1rem;
  margin: 1.5rem;
}

h2 {
  color: #3677fd;
  width: 100%;
  margin-bottom: 3rem;
  font-weight: lighter;
  font-size: 4rem;
}

h3 {
  color: #3677fd;
  text-transform: uppercase;
  padding-top: 3rem;
}

p {
  color: #5a5a5a;
  padding: 1rem 0 2rem;
  margin: auto;
  line-height: 3rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none !important;
  color: #5a5a5a;
}

/*Header*/

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  transition: all 650ms ease-in-out;
}
header.active{
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
}
.container {
  width: 100%;
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.line1, .line2, .line3 {
  width: 30px;
  height: 2px;
  margin: 6px 0;
  background: white;
}

.burger-menu-icon {
  cursor: pointer;
  z-index: 999;
  position: fixed;
  right: 0;
  top: 0;
  background: rgba(117, 236, 240, 0.5);
  padding: 1.2rem;
  border-radius: 0% 0% 0% 40%;
}

.profile-pic {
  height: 9rem;
  width: auto;
  border-radius: 50%;
  display: block;
  margin: 1.5rem 0;
}

.caption {
  display: block;
}

.nav-list {
  width: 24rem;
  height: 100vh;
  background-color: #ffffff;
  position: fixed;
  top: 0;
  right: -26rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  z-index: 998;
  transition: all 650ms ease-in-out;
}
.nav-list.active {
  right: 0;
}

.nav-item {
  margin: 1.2rem 0;
  list-style: none;
}

.nav-link {
  opacity: 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.nav-link:hover {
  color: #222222;
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translate(50px);
  }
  to {
    opacity: 1;
    transform: translate(0px);
  }
}
.toggle {
  background: none;
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px) scaleX(2);
  width: 15px;
  background: #3692ff;
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(45deg) translate(-5px, -6px) scaleX(2);
  margin-left: 0;
  width: 15px;
  background: #3692ff;
}

/* Add styles to the buttons */
.btn {
  margin: 1.5rem;
  border-radius: 3rem;
  border-width: 0;
  padding: 1rem 2.5rem;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
}
.btn-primary {
  background-color: white;
  color: #3677fd;
}
.btn-primary:hover {
  background: none;
  color: #fff;
  box-shadow: 0px 0px 12px -2px #fff;
}

.btn-secondary {
  background: #75b5f1;
  color: #fff;
}
.btn-secondary:hover {
  background: none;
  color: #3677fd;
  box-shadow: 0px 0px 12px -2px #000;
}


/*section landing-page*/
.landing-page {
  background: linear-gradient(to right,#747EF1, #75ECF0);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.landing-page p {
  color: white;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.roundedImage {
  margin-top: 2rem;
  height: 22rem;
  width: auto;
  border-radius: 50%;
}

/*section about*/
.about {
  background-color: #f1f8ff;
}

/*section skills*/
.skills{
  width: 100%;
}
.skill-name {
  text-align: start;
  color: #3677fd;
  text-transform: uppercase;
  margin: 15px 0;
}
.skill-bar {
  height: 15px;
  background: #cacaca;
  border-radius: 8px;
}
.skill-active {
  height: 15px;
  background: linear-gradient(to right, #75ECF0, #747EF1);
  border-radius: 8px;
  width: 0;
  transition: 1.5s ease-in-out;
  position: relative;
}
.skills .skill:nth-child(1) .skill-active {
  background: linear-gradient(to right, #74EF8C, #75B3EE);
}
.skills .skill:nth-child(2) .skill-active {
  background: linear-gradient(to right, #75ECF0, #747EF1);
}
.skills .skill:nth-child(3) .skill-active {
  background: linear-gradient(to right, #76B2EE, #AF78ED);
}
.skills .skill:nth-child(4) .skill-active {  
  background: linear-gradient(to right, #9391FC, #EC77C8);
}
.skills .skill:nth-child(5) .skill-active {
  background: linear-gradient(to right, #B274EF, #EF758A);
}

/*section Services*/
.services {
  background-color: #f1f8ff;
}
.service {
  padding-top: 2.5rem;
}
i {
  margin: auto;
  background: linear-gradient(to right, #3692ff, #3677fd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*section projects*/
.projects{
  background: linear-gradient(to right, #747EF1, #75ECF0);
}
.projects h2 {
  color: white;
}
.project-content {
  position: relative;
  transition: all 0.5s;
  padding: 0;
}
.project-content:hover {
  box-shadow: 0 0 10px 1px rgba(0,0,0,.3);
  z-index: 1;
  background-color: #000;
  transform: scale(1.1);
}
.project-image{
  opacity: 1;
  transition: all 0.5s;
}
.project-content:hover .project-image {
  opacity: 0.3;
}
.project-description {
  width: 100%;
  height: auto;
  transition: all 0.5s;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
.project-description h4 {
  color: #fff;
  font-weight: bold;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
}
.project-description i {
  background: #fff;
  -webkit-background-clip: text;
}
.project-description p {
  color: #fff;
  font-weight: lighter;
}
.project-content:hover .project-description {
  opacity: 1;
}

/*Experience*/
.card-img-top {
  width: 150px;
  height: 150px;
  margin: auto;
}

/*footer*/
footer{
  background: linear-gradient(to right, #747EF1, #75ECF0);
  min-height: 700px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer h2 {
  color: white;
}
footer a {
  color: inherit;
}
footer i {
  background: #fff;
  -webkit-background-clip: text;
}

/* Add styles to the form container */
.form-container {
  min-width: 50%;
  max-width: 90%;
  margin: 5rem auto;
  padding: 1.5rem 0;
  background-color: white;
  border-radius: 10px;
}
.form-container h2 {
  color: #3677fd;
}
input, textarea {
  font-family: "Lato", "Open sans", "sans-serif";
  width: 70%;
  padding: 1rem;
  margin-bottom: 1.5rem;
  border: 0.5px solid #ccc;
  border-radius: 10px;
  outline: none;
  resize: none;
}
input:focus, textarea:focus {
  border-color: #3677fd;
  border-width: 1px;
}